<footer>
  <div class="box-footer-left m10">
    <p>Emplacement 1</p>
  </div>
  <div class="box-footer-center m10">
    <p>Emplacement 2</p>
  </div>
  <div class="box-footer-right m10">
    <p>Emplacement 3</p>
  </div>
</footer>
